body {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    font-family: sans-serif;
    
}

/* ENCABEZADO */

/* Encabezados */
.encabezado_logo { 
    grid-area: logo; 
    padding-left: 31px;
}

.encabezado_botones_Inicio { 
    grid-area: inicio;
    margin-left: auto;
    margin-right: auto;
}

.encabezado_botones_Servicio { 
    grid-area: servicio; 
    margin-left: auto;
    margin-right: auto;
}

.encabezado_botones_Noticias { 
    grid-area: noticias; 
    margin-left: auto;
    margin-right: auto;
}

.encabezado_botones_Grupo {
    grid-area: grupo;
    margin-left: auto;
    margin-right: auto;
}

.encabezado_botones_Contacto {
    grid-area: contacto;
    margin-left: auto;
    margin-right: auto; 
}

.encabezado_botones_Entrar {
    grid-area: entrar; 
    margin-left: auto;
    margin-right: auto;
}

.encabezado {
    display: grid;
    grid:
    'logo inicio servicio noticias grupo contacto entrar entrar';
    grid-gap: 10px;
    height: 65px;
    border-bottom: 8px solid black;
    box-shadow: -1rem 0 3rem rgb(52, 41, 95);
    border-radius: 15px;
    background-color: rgb(245, 243, 243);
    
  }
  
  .encabezado > div {
    display: flex;
    align-items: center;
    
  }
  
/* contenido */
.imagen_logo{
    height: 50px;
    padding-bottom: 10px;
}

.boton_inicio{
    background-color: transparent;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 10px;
    cursor: pointer;
}

.boton_servicio{
    background-color: transparent;
    border-bottom: 5px solid cyan; 
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 10px;
    cursor: pointer;
}

.boton_noticias{
    background-color: transparent;
    border: none; 
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 10px;
    cursor: pointer;
}

.boton_grupo{
    background-color: transparent;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 10px;
    cursor: pointer;
}

.boton_contacto{
    background-color: transparent;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 10px;
    cursor: pointer;
}

.boton_entrar{
    display: inline-block;
    background-color:black;
    color: white;
    font-size: 17px;
    border: 2px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none; 
    height: 20px;
    width: 80px;
    cursor: pointer;

    

}





