.Seccion-Tabla{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 400px;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    margin-right: 35px;
    padding-left: 10%;
}


.Titulo{
    grid-area: 1 / 1 / 2 / 2;
    display: table;
    border-bottom: 2px solid black;
    width: 100%;
}
.Titulo > p{
    display: table-cell;
    text-align: center;
    vertical-align: middle; 
    font-weight: bold;
    font-size: 25px;
}

.Tabla{
    grid-area: 2 / 1 / 3 / 2;
    margin-right: 10px;
    
}

.ventana_interaccion{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 80% 20%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.inputs{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

button, input, select, textarea{
    background-color: #c0e5eb !important;
    border-style: 1px black !important;
    border-radius: 10px !important;
}

#producto{
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 20%;
    display:flex;
    justify-content:center;
    align-items:center;
}

#cantidad{
    grid-area: 2 / 1 / 3 / 2;
    display:flex;
    justify-content:center;
    align-items:center;
}

#total{
    grid-area: 3 / 1 / 4 / 2;
    display:flex;
    justify-content:center;
    align-items:center;
}

.information{
    grid-area: 1 / 2 / 2 / 3;
    display:flex;
    justify-content:center;
    align-items:center;
}


.buttons{
    grid-area: 2 / 1 / 3 / 3; 
    display:flex;
    justify-content:center;
    align-items:center;
}

.buttons > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
}
#vender{
    grid-area: 1 / 1 / 2 / 2;
}
#cancelar{
    grid-area: 1 / 2 / 2 / 3;
}