body {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
}
.encabezado{
    align-items: center;
    border-bottom: 2px solid black;
    border-bottom-color: black;
    display: flex;
    height: 50px;
    justify-content: space-around;
    position: relative;
    z-index: 2000;
    min-width: 1264px;
}

.encabezado_botones{
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-width: 50%;
}

.encabezado_entrar{
    color: white;
    border: 2px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
    background-color:rgb(36, 36, 36);

}
