.cajon-carpetas{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 50px auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.inventarios-titulo{
    display: table;
    grid-area: 1 / 1 / 2 / 2; 
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid black;
}
.inventarios-titulo > p {
    display: table-cell;
    vertical-align: middle;
}

.boton-inventario{
    grid-area: 2 / 1 / 3 / 2; 
    margin-top: 10px;

    display: grid;
    grid-template-columns: 68% repeat(2, 15%);
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.boton-inventario > div{
    grid-area: 1 / 1 / 2 / 2;
    width: 95% !important; 
    height: 95%;
    margin-left: 5px;
    margin-right: 2px;
    border-radius: 5px;
    text-align: left;
    background-color: transparent;
    border:none;

    display: grid;
    grid-template-columns: 21% 85%;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#openFolder{
    grid-area:  1 / 1 / 2 / 2; 
}

#openFolder > svg{
    margin-top: 12px;
}
.boton-inventario > div {
    color: black;
}
.boton-inventario > div > p{
    grid-area: 1 / 2 / 2 / 3;
    font-weight: bold;
    margin-top: 9px;
}

#newFolder{
    grid-area: 1 / 2 / 2 / 3;
    color: black;
    margin-right: 2px;
    border-radius: 5px;
}
#newFolder:hover{
    background-color:rgb(161, 161, 161);
}
#newFolder > svg{
    margin-top: 12px;
    margin-left: 10px;
}

#newFile{
    grid-area: 1 / 3 / 2 / 4;
    color: black;
    margin-right: 2px;
    border-radius: 5px;
}
#newFile > svg{
    margin-top: 12px;
    margin-left: 11px;
}
#newFile:hover{
    background-color:rgb(161, 161, 161);
}

.contenido-inventario{
    grid-area: 3 / 1 / 4 / 2;
    margin-top: 5px;
    height: 25px;
    color: black;
    font-size: 18px;
    background-color: rgba(252, 2, 2, 0.288);
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.contenido-inventario > a{
    margin-top: 2px;
    margin-left: 20px;
    grid-area: 1 / 2 / 2 / 3; 
    
}
#openFile{
    margin-left: 20px;
    padding-left: 5px;
    grid-area: 1 / 1 / 2 / 2; 
    border-left: 1px solid black;
}
.contenido-inventario:hover{
    background-color: rgba(252, 2, 2, 0.288);
    border-radius: 5px;
}