/* ENCABEZADO */

/* Encabezados */
.encabezado_logo { 
    padding-left: 30px;
    grid-area: 1 / 1 / 2 / 2;
}

.encabezado_botones_Inventarios { 
    grid-area: 1 / 2 / 2 / 3;
    text-align:center;
}

.encabezado_botones_Compartir { 
    grid-area: 1 / 3 / 2 / 4; 
    text-align:center;
}

.encabezado_botones_Actividad {
    grid-area: 1 / 4 / 2 ;
    text-align:center;
}

.encabezado_botones_Salir {
    grid-area: 1 / 6 / 2 / 7;
    text-align:center;
}

.encabezado-adm {
    
    grid-template-columns: 250px 120px 110px 110px 110px 250px;
    grid-template-rows: 50px;
    grid-column-gap: 15px;
    margin-left: 95px;
    margin-right: 200px;   
    margin-top: 10px;
    display: grid;
    border-bottom: 5px solid rgb(255, 255, 255);
    box-shadow: -1rem 0 3rem rgb(230, 230, 230);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0);
    
    
  }
  
  .encabezado > div {
    display: flex;
    align-items: center;
    
  }
  
/* contenido */
.imagen_logo{
    height: 50px;
    padding-bottom: 5px;
}
.boton_inventarios:hover, .boton_actividad:hover, .boton_compartir:hover{
    border-bottom: 4px solid rgb(8, 252, 0); 
    
}

.boton_compartir{
    background-color: transparent;
    display:table;
    margin:0px auto;
    margin-bottom: 0px;
    width: 100px;
    height: 50px;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-bottom: none;
}

.boton_compartir > a{
    display: table-cell;
    vertical-align: middle;
}



.boton_actividad{
    background-color: none(203,220,247);
    display:table;
    margin:0px auto;
    margin-bottom: 0px;
    width: 150px;
    height: 50px;
    border-bottom: 4px solid rgb(255, 0, 0); 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.boton_actividad> a{
    display: table-cell;
    vertical-align: middle;
}
.boton_inventarios{
    background-color: transparent;
    display:table;
    margin:0px auto;
    margin-bottom: 0px;
    width: 100px;
    height: 50px;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-bottom: none;
}

.boton_inventarios > a{
    display: table-cell;
    vertical-align: middle;
}
.boton_salir{
    display: inline-block;
    background: -prefix-linear-gradient(left bottom rgb(255, 0, 0), black 95%);
    background: linear-gradient(to top right,rgb(253, 0, 0), rgb(0, 0, 0) 95%);
    display:table;
    margin:0px auto;
    margin-bottom: 0px;
    font-size: 17px;
    border: 2px;
    border-radius: 50px;
    height: 20px;
    width: 80px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.boton_salir:hover{
    height: 22px;
    width: 82px;
}

.boton_inventarios, .boton_compartir, .boton_vistaOperario, .boton_actividad >  a:link, a:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.boton_salir > a:link{
    text-decoration: none;
    color: white;
}
