
.seccion-cajon{
    position: absolute;
    top:53%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width: 500px;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 15px;
    box-shadow: -1rem 0 3rem rgb(59, 23, 204);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 15% 10% 20% 15% 20%;

}

h1{
    color:deeppink
}

.indicacion p{
    color: rgb(73, 147, 165);
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    display:flex;
    justify-content:center;
    align-items:center;
}
.titulo { 
    display: table;
    grid-area: 2 / 1 / 3 / 2;
}

.titulo > h1{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.indicacion { 
    grid-area: 3 / 1 / 4 / 2;
    text-align: center;
}
.indicacion > p{ 
    font-size: 20px;
}

.password { 
    grid-area: 5 / 1 / 6 / 3;
    background: rgba(236, 17, 17, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.password > input{
    border:5px;
    cursor: text;
    outline: none;
    color: whitesmoke;
}
.password > input::placeholder{
    font-weight: bold;
    color: whitesmoke;
}
.botones{
    grid-area: 4 / 1 / 5 / 2;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.butones > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
} 

#boton_admin {
    grid-area: 1 / 1 / 2 / 2; 
    background-color: rgb(76,175,80);
    font-weight: bold;
    margin-right: 30px;
}
#boton_operario{
    grid-area: 1 / 2 / 2 / 3;
    background-color: rgb(235, 235, 235);
}   


.boton_entrar{
    grid-area: 6 / 1 / 7 / 2;
    display:flex;
     justify-content:center;
     align-items:center;
}

#entrar{
    background-color: rgb(24,103,192);
    font-weight: bold;
}
.v-btn{
    width: 150px !important;
}

#button_show{
    width: 10% !important;
    height: 85%;
    background-color: rgba(255, 255, 255, 0.329); 
}