
.seccion-cajon{
    position: absolute;
    top:53%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 500px;
    text-align: center;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 15px;
    box-shadow: -1rem 0 3rem rgb(59, 23, 204);
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 30% 20% 10% 20% 20%;
}

h1{
    color:deeppink
}

.indicacion p{
    color: rgb(73, 147, 165);
}

.logo {
    grid-area: 1 / 1 / 2 / 3;
    display:flex;
    justify-content:center;
    align-items:center;
}
.titulo { 
    display: table;
    grid-area: 2 / 1 / 3 / 3; 
}

.titulo > h1{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.indicacion { 
    grid-area: 3 / 1 / 4 / 3; 
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.password { 
    grid-area: 5 / 1 / 6 / 3;
    background: rgba(236, 17, 17, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    margin-left: 150px;
    margin-right: 130px;
    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.password > input{
    border:5px;
    cursor: text;
    outline: none;

}

.boton-administrador {
    grid-area: 4 / 1 / 5 / 2;
    display:flex;
    justify-content:center;
    align-items:center;
}

.boton-administrador > .theme--dark.v-btn.v-btn--has-bg{
    background-color: rgb(0, 0, 0) !important;
}
.boton-operario {
    grid-area: 4 / 2 / 5 / 3;
     display:flex;
     justify-content:center;
     align-items:center;
}

.v-btn{
    width: 150px !important;
}