.cajon_noticias{
    height: 500px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.noticias_del_dia{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

.content_noticias{
    display: grid;
    grid-template-columns: 55% 45%;
    margin-top: 20px;
    border-radius: 10px ;
    height: 500px;
    width: auto;
    /* background-color: rgb(203,220,247); */
    background: -moz-linear-gradient(45deg,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); 
    background: linear-gradient(45deg,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); 

}
.texto_noticia{
    /* background-color: #2196F3; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 69% 10% 5%;
    grid-row-gap: 10px;
}
    

.texto_noticia_Titulo{
    /* background-color: aqua; */
    height: auto;
    text-align: center;
    margin-right: 10px;
    border-bottom: 1px solid black;
}

.texto_noticia_info{
    /* background-color: beige; */
    text-align: justify;
    margin-right: 10px;
}

.texto_noticia_interacción{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.texto_noticia_interacción > img {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 40%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.texto_noticia_reconocimiento{
    /* background-color: brown;  */
    text-align: center;
} 

.imagen_noticia{
    display: block;
    height: 500px;
    width: 90%;
    border-radius: 10px;
    box-shadow: black 20px 10px 20px;

}

.Noticias_mes {
    display: grid;
    margin-top: 80px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 300px 10% 5%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 4; 
    border-bottom: 2px solid black ;
    font-weight: bold;
}
.div2 { 
    grid-area: 2 / 1 / 3 / 2;
}
.div2 > img{
    height: 300px;
    border-radius: 10px ;
}
.div3 {
    grid-area: 3 / 1 / 4 / 2; 

}
#noticias_mes_link1:link, .noticias_mes_link1:visited, .div3 > p{
    text-align: center;
    font-weight: bold;
    color: black;

}
.div3 > a:hover{
    color:darkgrey;
}
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 2 / 4 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 3 / 4 / 4; }

.div8 { 
    grid-area: 4 / 1 / 5 / 4; 
    border-top: 2px solid black;
}
