body {
    height: auto;
    width: 1040px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    font-family: sans-serif;
    background-color: white;
}


/* Equipo */
.container1{
    width: 150%;
    max-width: 1200px;
    height: 430px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 350px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: rgb(142, 194, 230);
    margin: 35px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(37, 126, 167, 0.2);
}

.container .card img{
    width: 410px;
    height: 310px;
}


.container .card h2{
    font-weight: 550;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}


