.body {
  height: 1000px;
  width: 100%;
  font-family: sans-serif;
  background-image: radial-gradient(circle at 18.13% 46.5%, #a03c98 0, #16054b 25%, #10103f 50%, #0d0d3d 75%, #140b3d 100%) !important;    
  align-items: center;
}

.v-application {
  display: flow-root !important;
}

.container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: none;
    font-family: 'Baloo Paaji 2', cursive;
    padding-top: 6%;
  }
  
  .card-PR {
    background-color: #222831;
    height: auto;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 30px 40px -20px rgb(92, 18, 211);
    color: white;
  }
  
  .card__name {
    margin-top: 15px;
    font-size: 1.5em;
  }
  
  .card__image {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #272133;
    margin-top: 20px;
    box-shadow: 0 10px 50px rgb(10, 135, 236);
  }

  .card__text {
    padding-right: 8%;
    padding-left: 8%;
  }
  
  .social-icons {
    padding: 1;
    list-style: none;
    margin: 1em;
    position: relative;
  }
  
  .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position:center;
    font-size: 1em;
  }
  
  .social-icons i {
    color: rgb(255, 255, 255);
    position: center;
    top: 0.95em;
    left: 0.96em;
    transition: all 265ms ease-out;
  }
