.body {
  height: 100%;
  width: 100%;
  margin-top: 0px;
  font-family: 'Poppins', sans-serif;
  background-image: radial-gradient(circle at 18.13% 46.5%, #a03c98 0, #16054b 25%, #10103f 50%, #000018 75%, #000000 100%) !important;
    
 
  
}

.encabezado{
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-around;
    position: relative;
    z-index: 2000;
    min-width: 1100px;
}

.encabezado_incio{
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-width: 50%;
}


.container-cards {
    position: relative;
    height: 400px;
    width: 1200px;
    top: 10px;
    left: calc(38% - 300px);
    display: flex;
  }
  
  .card-GI {
    display: flex;
    height: auto;
    width: 880px;
    background-color: #1f1f1f;
    border-radius: 13px;
    box-shadow: 0rem 0rem 5rem rgb(133, 220, 231);
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    top: 0px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    
  }
  
  .card-IM{
    display: flex;
    height: auto;
    width: 880px;
    background-color: #1f1f1f;
    border-radius: 13px;
    box-shadow: 0rem 0rem 5rem rgb(133, 220, 231);
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    top: 0px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
  }

  .card-FU{
    display: flex;
    height: auto;
    width: 880px;
    background-color: #1f1f1f;
    border-radius: 13px;
    box-shadow: 0rem 0rem 5rem rgb(133, 220, 231);
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    top: 0px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
  }

  .title {
    color: white;
    letter-spacing: 0.01em;
    margin-top: 30px;
    margin-bottom: 0%;
    position: center;
    justify-content: center;
    font-size: 25px;
  }
 
  .card-GI:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }

  .card-IM:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }

  .card-FU:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }

  .description{
    position: relative;

  }

  .cardcont, .description{
    padding: 20px;
    text-align: center;
  }

  .cardcont a{
    position: relative;
    display: block;
  }

  .cardcont p{
    position: center;
    color: rgb(177, 255, 229);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .mas{
    margin-top: 30px;

    
  }

  .mas a{
   color: hotpink;
   
    
  }

  .mas a:visited {
    color: hotpink;
  }

  .mas a:hover {
    color: white;
  }

  .logoIM{
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }


  


  
