body {
  height: auto;
  width: 1040px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0px;
  font-family: sans-serif;
  background-color: white;
}

.encabezado{
    align-items: center;
    border-bottom: 2px solid black;
    border-bottom-color: black;
    display: flex;
    height: 50px;
    justify-content: space-around;
    position: relative;
    z-index: 2000;
    min-width: 1100px;
}

.encabezado_incio{
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-width: 50%;
}


.container {
    position: relative;
    height: 400px;
    width: 1200px;
    top: 10px;
    left: calc(38% - 300px);
    display: flex;
  }
  
  .card {
    display: flex;
    height: auto;
    width: 880px;
    background-color: #1f1f1f;
    border-radius: 13px;
    box-shadow: 0rem 0rem 5rem rgb(133, 220, 231);
    transition: 0.4s ease-out;
    position: center;
    top: 0px;
  }
  
  .card2{
    display: flex;
    height: auto;
    width: 880px;
    background-color: #1f1f1f;
    border-radius: 13px;
    box-shadow: 0rem 0rem 5rem rgb(133, 220, 231);
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    top: 0px;
  }

  .card3{
    display: flex;
    height: auto;
    width: 880px;
    background-color: #1f1f1f;
    border-radius: 13px;
    box-shadow: 0rem 0rem 5rem rgb(133, 220, 231);
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    top: 0px;
  }

  .title {
    color: white;
    letter-spacing: 0.01em;
    margin-top: 30px;
    margin-bottom: 0%;
    position: center;
    justify-content: center;
    font-size: 25px;
  }
 
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }

  .card2:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }

  .card3:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }

  .description{
    position: relative;

  }

  .cardcont, .description{
    padding: 20px;
    text-align: center;
  }

  .cardcont a{
    position: relative;
    display: block;
  }

  .cardcont p{
    position: center;
    color: aqua;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .mas{
    margin-top: 30px;

    
  }

  .mas a{
   color: hotpink;
   
    
  }

  .mas a:visited {
    color: hotpink;
  }

  .mas a:hover {
    color: white;
  }

  .logoIM{
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
  


  
