body {
    height: 663px;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    background-image: radial-gradient(circle at 18.13% 46.5%, #a03c98 0, #16054b 25%, #10103f 50%, #000018 75%, #000000 100%);
      
   
    
  }
