.seccion-cajon{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 500px;
    text-align: center;

    background-color: rgb(245, 243, 243);
    border-radius: 15px;
    box-shadow: -1rem 0 3rem rgb(52, 41, 95);
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 30% 20% 10% 20% 20%;
}

.logo {
    grid-area: 1 / 1 / 2 / 3;
    display:flex;
    justify-content:center;
    align-items:center;
}
.titulo { 
    display: table;
    grid-area: 2 / 1 / 3 / 3; 
}

.titulo > h1{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.indicacion { 
    grid-area: 3 / 1 / 4 / 3; 
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.password { 
    grid-area: 5 / 1 / 6 / 3;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.password > input{
    border:0;
    cursor: text;
    outline: none;

}

.boton-administrador {
    grid-area: 4 / 1 / 5 / 2;
    display:flex;
    justify-content:center;
    align-items:center;
}


.boton-operario {
    grid-area: 4 / 2 / 5 / 3;
     display:flex;
     justify-content:center;
     align-items:center;
}

.v-btn{
    width: 150px !important;
}