body {
    height: auto;
    width: 1040px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    font-family: sans-serif;
    background-image: radial-gradient(circle at 18.13% 46.5%, #a03c98 0, #16054b 25%, #10103f 50%, #0d0d3d 75%, #140b3d 100%);    align-items: center;
}

.card-IMI{
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 80px );
    -webkit-backdrop-filter: blur( 0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px;
}

.main-imagen{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 15px;
}
.footer{
    height: auto;
    background-color: rgba( 255, 255, 255, 0 );
    clear:both;
    display: grid;
    grid-template-columns: 55% 45%;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid yellow;
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px blue;
    padding: 30px;
    margin: 20px;
   backdrop-filter: blur( 80px );
    -webkit-backdrop-filter: blur( 0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px;
    background: rgba( 255, 255, 255, 0.3 );
}

.section-textF{
    margin: 0;
    color: #ffffff;
    background: rgba( 255, 255, 255, 0 );
    font-weight: bold;
    text-align: center;
    border: 1px;
    padding-top: 0%;
    
}
.card-contacto {
    width: 90%;
    padding: 30px 90px 90px 90px;
    border: 6px solid rgb(248, 1, 1,);
    box-shadow: 0px 30px 40px -20px blue;
    border-radius: 50px;
    position: relative;
    margin-left: 8%;
    backdrop-filter: blur( 80px );
    -webkit-backdrop-filter: blur( 0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px;
    background: rgba( 255, 255, 255, 0.3 );

  }
  
  .card-contacto h2 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-transform: uppercase;
  }
  
  .card-contacto .row {
    position: sticky;
    width: 80%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
    grid-gap: 100px;
  }
  
  .card-contacto .row .col {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
  }
  
  .card-contacto .row .form-group {
    position: relative;
    width: 150%;
    height: 30px;
    color: #ffffff;
  }
  
  .card-contacto .row .form-group input,
  .card-contacto .row .form-group textarea {
    position: absolute;
    width: 90%;
    height: 250%;
    background: transparent;
    outline: none;
    font-size: 24px;
    padding: 10px 0 10px 20px;
    border: 5px solid rgb(28, 174, 179);
    box-shadow: 10px 10px 0 rgba(179, 17, 17, 0.3);
    color: #ffffff;
    border-radius: 25px;
  }
  
  .card-contacto .row .form-group label {
    line-height: 60px;
    color: #ffffff;
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
  }
  
  .row .col:nth-child(6) {
    margin-top: 64px;
  }
  
  .card-contacto .row .form-group input:focus,
  .card-contacto .row .form-group textarea:focus {
    border: 5px solid #ffffff;
    transition: all 0.5s;
  }
  
  .card-contacto .row input[type="submit"] {
    border: 5px solid rgba(216, 14, 14, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 120%;
    width: 50%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
  }
  
  .card-contacto .row input[type="submit"]:hover {
    border: 5px solid rgba(255, 255, 255, 1);
    color: #ffffff;
    transition: all 0.4s;
  }