body {
    height: 1280px;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    font-family: sans-serif;
    background-image: radial-gradient(circle at 18.13% 46.5%, #a03c98 0, #16054b 25%, #10103f 50%, #0d0d3d 75%, #140b3d 100%);    align-items: center;
}

.cajon_noticias{
    height: 500px;
    margin-top: 90px;
    margin-left: 50px;
    margin-right: 50px;
    background:none;
    
}
.noticias_del_dia{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    color: white;
}

.content_noticias{
    display: grid;
    grid-template-columns: 55% 45%;
    margin-top: 20px;
    border-radius: 10px ;
    height: 500px;
    width: auto;
    background-color: #1f1f1f;
    border-radius: 13px;
    box-shadow: 0rem 0rem 5rem rgb(133, 220, 231);
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    top: 0px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
}
.texto_noticia{
    color: rgb(177, 255, 229);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 69% 10% 5%;
    grid-row-gap: 10px;
    padding-top: 2%;
    padding-right: 3%;
}

.texto_noticia h3{
    color: white;
}
    

.texto_noticia_Titulo{
    
    height: auto;
    text-align: center;
    margin-right: 10px;
    border-bottom: 1px solid black;
}

.texto_noticia_info{
    /* background-color: beige; */
    text-align: justify;
    margin-right: 10px;
}

.texto_noticia_interacción{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.texto_noticia_interacción > img {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 40%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.texto_noticia_reconocimiento{
    /* background-color: brown;  */
    text-align: center;
} 

.imagen_noticia{
    display: block;
    height: 500px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 30px 40px -20px blue;

}

.Noticias_mes {
    display: grid;
    margin-top: 80px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 300px 10% 5%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 4; 
    border-bottom: 2px solid Red ;
    font-weight: bold;
    color: white;
}

.div2 { 
    grid-area: 2 / 1 / 3 / 2;
}

#img_goToSection{
    height: 300px;
    width: 300px;
    border-radius: 10px ;
    cursor: pointer;
    padding-top: 5%;
}
#img_goToSection:hover{
    box-shadow: 10px 10px 10px rgba(190, 32, 156, 0.151);

}
.div3 {
    grid-area: 3 / 1 / 4 / 2; 

}

.div3 > p{
    text-align: center;
    font-weight: bold;
    color: white;
}

.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 > p{
    text-align: center;
    font-weight: bold;
    color: white;
}
.div5 { grid-area: 3 / 2 / 4 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 3 / 4 / 4; }
.div7 > p{
    text-align: center;
    font-weight: bold;
    color: white;
}
.div8 { 
    grid-area: 4 / 1 / 5 / 4; 
    border-top: 2px solid blue;
}