.body {
    height: 1000px;
    width: 100%;
    font-family: sans-serif;
    background-image: radial-gradient(circle at 18.13% 46.5%, #a03c98 0, #16054b 25%, #10103f 50%, #0d0d3d 75%, #140b3d 100%) !important;  
    align-items: center;
}
