/* ENCABEZADO */

/* Encabezados */
.encabezado_logo { 
    grid-area: logo; 
    padding-left: 30px;
    height: 50px;
}

.encabezado_botones_Inicio { 
    grid-area: inicio;
    height: 53px;
    margin-left: auto;
    margin-right: auto;
}

.encabezado_botones_Servicio { 
    grid-area: servicio; 
    height: 53px;
    margin-left: auto;
    margin-right: auto;
}

.encabezado_botones_Noticias { 
    grid-area: noticias; 
    height: 53px;
    margin-left: auto;
    margin-right: auto;
}

.encabezado_botones_Grupo {
    grid-area: grupo;
    height: 53px;
    margin-left: auto;
    margin-right: auto;
}

.encabezado_botones_Contacto {
    grid-area: contacto;
    height: 53px;
    margin-left: auto;
    margin-right: auto; 
}

.encabezado_botones_Entrar {
    grid-area: entrar; 
    margin-left: auto;
    margin-right: auto;
}

.encabezado {
    display: grid;
    grid:
    'logo inicio servicio noticias grupo contacto entrar entrar';
    grid-gap: 10px;
    height: 50px;
    border-bottom: 2px solid black;
    
  }
  
  .encabezado > div {
    display: flex;
    align-items: center;
    
  }
  
/* contenido */
.imagen_logo{
    height: 50px;
    padding-bottom: 10px;
}

.boton_inicio{
    background-color:transparent;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
}

.boton_inicio:hover{
    border-bottom: 2px solid cyan; 
}

.boton_servicio{
    background-color: transparent;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
}

.boton_servicio:hover{
    border-bottom: 2px solid cyan; 
}

.boton_noticias{
    background-color: rgb(203,220,247);
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
}

.boton_grupo{
    background-color: transparent;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
}

.boton_grupo:hover{
    border-bottom: 2px solid cyan; 
}

.boton_contacto{
    background-color: transparent;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
}
.boton_contacto:hover{
    border-bottom: 2px solid cyan; 
}

.boton_entrar{
    display: inline-block;
    background: -prefix-linear-gradient(left bottom white, black 95%);
    background: linear-gradient(to top right,white, black 95%);
    color: white;
    font-size: 17px;
    border: 2px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none; 
    height: 20px;
    width: 80px;
    cursor: pointer;
    

}

.boton_entrar:hover{
    font-weight: bold;
}



