.noticia_1 { 
    grid-area: imagen;
    display: block;
    background-image: url("https://image.freepik.com/vector-gratis/ilustracion-concepto-hoja-calculo_114360-745.jpg");
    background-repeat: no-repeat;
    width: 70%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow:5px 0px 5px 0px grey;
}

.texto_noticia_1{
    grid-area: noticias;
    background-color: blue;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    text-align: justify;
    text-justify: inter-word;
    width: 30%;
}

.content_noticias{
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color:white;    
    display: grid;
    grid:
    'imagen imagen noticias'
    'imagen imagen noticias'
    'imagen imagen noticias';
    grid-gap: 20px;
    height: 500px;
}