.cajon_noticias{
    margin-top: 50px;
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;
}

.content_noticias{
    display: grid;
    grid-template-columns: 55% 45%;
    margin-top: 50px;
    border-radius: 10px ;
    height: 500px;
    width: auto;
    background-color: rgb(203,220,247);
}

.noticia_1{
    display: block;
    height: 100%;
    padding-right: 0px;
}

.imagen_noticia_1{
    display: block;
    height: 500px;
    width: 90%;
    border-radius: 10px;
    box-shadow: black 20px 10px 20px;

}

.texto_noticia_1{
    margin-left: 5px;
    margin-right: 10px;
    text-align: justify;
    
}