.seccion-cajon{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 500px;
    text-align: center;

    background-color: rgb(245, 243, 243);
    border-radius: 15px;
    box-shadow: -1rem 0 3rem rgb(52, 41, 95);
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 70px 40px 60px 40px 70px;
}

.logo {
    grid-area: 1 / 1 / 2 / 3;
}
.titulo { 
    display: table;
    grid-area: 2 / 1 / 3 / 3; 
}

.titulo > h1{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.indicacion { 
    grid-area: 3 / 1 / 4 / 3; 
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.email { 
    grid-area: 4 / 1 / 5 / 3; 
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
}

.email > input{
    margin-top: 10px;
    width: 400px;
    height: 20px;
    border:0;
    cursor: text;
    outline: none;
}

.boton-cancelar {
    grid-area: 5 / 1 / 6 / 2; 
    margin-top: 20px;
    margin-right: 20px;
    justify-self: right;
}


.boton-buscar {
     grid-area: 5 / 2 / 6 / 3; 
     margin-top: 20px;
     margin-left: 20px;
     justify-self: left;
}
